@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "roboto", Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #001122;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}

.system {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  font-size: 48px;
  padding: 20px;
  color: #fff;
  font-family: "East Sea Dokdo", cursive;
  text-align: right;
}

p {
  padding: 0px 20px 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f0f3ff;
}
p a {
  text-decoration: none;
  color: #f0f3ff;
  text-decoration: none;
}
p a:hover {
  color: #BD1168;
}

a {
  text-decoration: none !important;
}

.word-card {
  background-image: url(../images/world.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 95%;
  height: 75vh;
  margin: 5vh auto;
  display: block;
  position: relative;
}
.word-card #follower {
  position: relative;
  width: 45px;
  height: 45px;
}
.word-card #follower img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  z-index: 99;
}

/* beats Animation  */
.star {
  display: block;
  position: absolute;
  top: 60vh;
  left: 80%;
  width: 60px;
  -webkit-animation: beats 1.8s infinite;
          animation: beats 1.8s infinite;
  transform-origin: center;
}
.star.react {
  top: 15vh;
  left: 65%;
  width: 40px;
}
.star.jquery {
  top: 35vh;
  left: 73%;
  width: 110px;
}
.star.python {
  top: 55vh;
  left: 83%;
}
.star.php {
  top: 75vh;
  left: 78%;
}
.star.mysql {
  top: 85vh;
  left: 68%;
  width: 80px;
}

.soft_skills li {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 20vh;
  left: 30%;
  display: block;
  -webkit-animation: beats 1.8s infinite;
          animation: beats 1.8s infinite;
  transform-origin: center;
}
.soft_skills li:nth-child(2) {
  top: 30vh;
  left: 23%;
}
.soft_skills li:nth-child(3) {
  top: 40vh;
  left: 18%;
}
.soft_skills li:nth-child(4) {
  top: 55vh;
  left: 13%;
}
.soft_skills li:nth-child(5) {
  top: 70vh;
  left: 18%;
}
.soft_skills li:nth-child(6) {
  top: 80vh;
  left: 23%;
}
.soft_skills li:nth-child(7) {
  top: 90vh;
  left: 30%;
}

@-webkit-keyframes beats {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}

@keyframes beats {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
/* Text Animation */
.text-animation {
  padding: 100px 0 0;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 34px;
  color: #fff;
  width: 100%;
  max-width: 350px;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.sidebar {
  display: block;
  height: 100vh;
  width: 100%;
  padding: 25px 0 0;
  border-right: 1px solid #102a44;
  background-color: #000C1D;
}
.sidebar h2 {
  padding: 10px 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.sidebar h3 {
  padding: 10px 20px;
  color: #fff;
  background-color: #102a44;
  font-size: 18px;
  font-weight: 700;
}
.sidebar ul {
  padding: 20px;
}
.sidebar ul li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}
.sidebar ul li:after {
  content: "❴";
  font-size: 15px;
  position: absolute;
  top: 5;
  left: 0;
}
.sidebar ul li:before {
  content: "❵";
  font-size: 15px;
  position: absolute;
  top: 5;
  right: 0;
}
.sidebar ul li a {
  color: #fff;
}
.sidebar ul li a svg {
  height: 15px;
  width: 15px;
  margin: -5px 10px 0 0;
}
.sidebar ul li a svg path {
  fill: #fff !important;
}
.sidebar ul li a:hover {
  color: #BD1168;
}
.sidebar ul li a:hover svg path {
  fill: #BD1168 !important;
}

/* mobile  */
@media only screen and (max-width: 768px) {
  .sidebar {
    border-bottom: 1px solid #102a44;
    border: 0px;
  }
  h1 {
    text-align: center;
  }
  .word-card {
    padding: 0px 10px;
    height: 40vh;
  }
  .galaxy {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .galaxy .star {
    position: relative;
    width: 50px;
    top: 0 !important;
    left: 0px !important;
    margin: 20px auto;
  }
  .system {
    display: block;
  }
  .text-animation {
    padding: 0px;
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */