/* mobile  */
@media only screen and (max-width: 768px) {
   h1{
    text-align: center;
   }
   .word-card{
    padding: 0px 10px;
    height: 40vh;
   }
   
    .galaxy{
        column-count: 2;
        column-gap: 10px;
        .star{
            position: relative;
            width: 50px;
            top: 0 !important;
            left: 0px !important;
            margin: 20px auto;
        }

    }

}