@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

$dark:#001122;
$white:#fff; 
$cream:#f0f3ff;
$pink: #BD1168;
$border:#102a44;
$black:#000C1D;

* { margin: 0; padding: 0; font-family: "roboto", Helvetica, sans-serif;}
body{ 
    margin: 0; 
    padding: 0; 
    background-color: $dark; 
   
} 
.container{
    width: 100%  !important;
    max-width: 100% !important;
    display: block;
    margin: auto;
} 

img{
    max-width: 100%;
}

.system{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
//font
h1{
    font-size: 48px;
    padding: 20px;
    color: $white;
    font-family: 'East Sea Dokdo', cursive;
    text-align: right;
}
p{
    padding: 0px 20px 10px;
    font-size: 12px;
    font-weight: 700;
    color: $cream;
    a{
        text-decoration: none;
        color: $cream;
        text-decoration: none;
        &:hover{
            color: $pink;
        }
    }
}

a{ text-decoration: none !important;}