@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

$dark:#001122;
$white:#fff; 
$cream:#f0f3ff;
$pink: #BD1168;

* { margin: 0; padding: 0; font-family: "roboto", Helvetica, sans-serif;}
body{ 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-color: $dark; 
    font-family: 'East Sea Dokdo', cursive;
} 
.container{
    width: 100%  !important;
    display: block;
    margin: auto;
} 

img{
    max-width: 100%;
}
  
//font
h1{
    font-size: 28px;
    padding: 20px;
    color: $white;
}
p{
    padding: 0px 20px 10px;
    font-size: 12px;
    font-weight: 700;
    color: $cream;
    a{
        text-decoration: none;
        color: $cream;
        text-decoration: none;
        &:hover{
            color: $pink;
        }
    }
}